<section class="intro-section bg-black" id="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 intros">
          <h1 class="display-2">
              <span class="display-2--fName text-center">Bishal Jung
                  <br>
                <span class="display-2--lName border-bottom-1">Thapa Chhetri</span>
              </span>
          <div class="heading-line mb-1 justify-content-end"></div>
          <p class="display-2--lName text-white">
            Front-end Developer
          </p>
          </h1>
          <button type="button" class="btn-intro">Hire Me</button>
      </div>
      <div class="col-md-6 intros">

      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,213.3C672,203,768,117,864,112C960,107,1056,181,1152,186.7C1248,192,1344,128,1392,96L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</section>
